<h1> About Me</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <%= image_tag "profile.jpg", width: "100%", alt: "Profile image" %>
    </div>
    <div class="col-md-8">
        <p>Software development should not be a secret process, when I take a new project I make it my goal to not only deliver aa well crafted product but to also ensure that each stage of the process is fully communicated</p>

        <p>Software development should not be a secret process, when I take a new project I make it my goal to not only deliver aa well crafted product but to also ensure that each stage of the process is fully communicated</p>
    </div>
</div>
